{% extends "base.html" %}
{% block title %}notParticipent{% endblock %}
{% block content %}
<html>
    <body>

        <div class="card text-center">
            <div class="card-header">
                <h1>Lottery</h1>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    <div>YOU'RE NOT A CONTESTANT!</div>
                    <input type='button' class="btn btn-success" onclick="window.location.href = `/mailbox`" value="Back to Mailbox" />
                </form>
            </div>
            <div class="card-footer text-muted">
              You can participate for the lottery only once in a month!
            </div>
        </div>
    </body>
</html>
{% endblock %}